name: Deploy Worker
on:
  push:
    branches:
      - main

jobs:
  deploy-db:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    environment: Production
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          # See here for caching with `yarn`, `bun` or other package managers https://github.com/actions/cache/blob/main/examples.md or you can leverage caching with actions/setup-node https://github.com/actions/setup-node
          path: |
            ~/.bun/install/cache
            ${{ github.workspace }}/.next/cache
          # Generate a new cache whenever packages or source files change.
          key: ${{ runner.os }}-nextjs-${{ hashFiles('**/bun.lock') }}-${{ hashFiles('**/*.js', '**/*.jsx', '**/*.ts', '**/*.tsx') }}
          # If source files changed but packages didn't, rebuild from a prior cache.
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('**/bun.lock') }}-
      - uses: oven-sh/setup-bun@v2
      - run: bun install
      - run: bun db:push
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}